<!DOCTYPE html>
<html lang="zh">
    <head>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="../../js/base.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="moqunzhu">

        <title>个人中心</title>
        <!-- Custom styles -->
        <link href="../../css/weui-custom-style.css" rel="stylesheet">

        <!-- WeUI styles -->
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">

        <!-- WeUI Javascript library -->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    </head>

<body>
    <div id="vue-container">

        <div v-if="pref===null" class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>

        <div v-else v-on:click="post_pref">
            <!-- Header -->
            <h1 class="news-title">设置</h1>

            <div class="weui-cells__title">通知</div>
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label" for="s11">
                    <div class="weui-cell__hd">
                        <input v-model="pref.s_work" type="checkbox" name="checkbox1" class="weui-check" id="s11">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>新作业通知</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="s12">
                    <div class="weui-cell__hd">
                        <input v-model="pref.s_notice" type="checkbox" class="weui-check" name="checkbox1" id="s12">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>新公告通知</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="s13">
                    <div class="weui-cell__hd">
                        <input v-model="pref.s_grading" type="checkbox" name="checkbox1" class="weui-check" id="s13">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>作业批改情况变动通知</p>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="s14">
                    <div class="weui-cell__hd">
                        <input v-model="pref.s_class" type="checkbox" name="checkbox1" class="weui-check" id="s14">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>上课通知</p>
                    </div>
                </label>
            </div>

            <div class="weui-cells__title">通知提前时间</div>
            <div class="weui-cells weui-cells_radio">
                <label class="weui-cell weui-check__label" for="x11">
                   <div class="weui-cell__bd">
                       <p>不提醒</p>
                   </div>
                   <div class="weui-cell__ft">
                       <input type="radio" class="weui-check" name="radio1" id="x11" value="-1" v-model="pref.ahead_time">
                       <span class="weui-icon-checked"></span>
                   </div>
               </label>
                <label class="weui-cell weui-check__label" for="x12">

                    <div class="weui-cell__bd">
                        <p>提前4小时</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" name="radio1" class="weui-check" id="x12" value="240" v-model="pref.ahead_time">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
                <label class="weui-cell weui-check__label" for="x13">

                    <div class="weui-cell__bd">
                        <p>提前1天</p>
                    </div>
                    <div class="weui-cell__ft">
                        <input type="radio" name="radio1" class="weui-check" id="x13" value="1440" v-model="pref.ahead_time">
                        <span class="weui-icon-checked"></span>
                    </div>
                </label>
            </div>

            <div class="weui-cells__title">订阅</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">文化素质教育讲座</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_lecture"/>
                    </div>
                </div>
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">教务通知</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_academic"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#vue-container',
            data: {
                'pref': {
                    's_work': true,
                    's_notice': true,
                    'ignore_courses': [],
                    's_grading': true,
                    's_academic': true,
                    's_lecture': true,
                    's_class': true,
                    'ahead_time': "-1",
                },
            },
            methods: {
                post_pref: function() {
                    param = {
                        's_work': true,
's_notice': true,
'ignore_courses': JSON.stringify(['1']),
's_grading': true,
's_academic': true,
's_lecture': true,
's_class': true,
'ahead_time': "-1",
                    };
                    param.code = urlParam.code;
                    param.state = urlParam.state;
                    $.post('/api/u/pref', param);
                }
            }
        })
        $.getJSON('/api/u/pref', urlParam, function(resp){
            if(resp.code === 0) {
                vm.pref = resp.data;
            }
        })
    </script>
</body>
</html>
