<!DOCTYPE html>
<html lang="zh">

<head>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../3rd/zepto.min.js"></script>
    <script src="../../js/base.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="moqunzhu">

    <title>个人中心 - 偏好设置</title>
    <!-- Custom styles -->
    <link href="../../css/weui-custom-style.css" rel="stylesheet">

    <!-- WeUI styles -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">

    <!-- WeUI Javascript library -->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>

<body>
    <div id="vue-container">

        <!-- Header -->
        <h1 class="news-title">设置</h1>

        <div v-if="! loading">
            <div class="weui-cells__title">接收推送通知</div>
            <div class="weui-cells">

                <div class="weui-cell  weui-cell_switch">
                    <div class="weui-cell__bd">课程公告出现</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_notice" />
                    </div>
                </div>
                <div class="weui-cell weui-cells_form weui-cell_switch">
                    <div class="weui-cell__bd">作业出现</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_work" />
                    </div>
                </div>
                <div class="weui-cell weui-cells_form weui-cell_switch">
                    <div class="weui-cell__bd">作业被批改了</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_grading" />
                    </div>
                </div>



                <a class="weui-cell weui-cell_access" v-on:click="pick_s_ddl_ahead_time">
                    <div class="weui-cell__bd">
                        <p>作业即将截止</p>
                    </div>
                    <div class="weui-cell__ft">{{c_s_ddl_ahead_time}}</div>
                </a>
                <a class="weui-cell weui-cell_access" v-on:click="pick_s_class_ahead_time">
                    <div class="weui-cell__bd">
                        <p>该去上课了</p>
                    </div>
                    <div class="weui-cell__ft">{{c_s_class_ahead_time}}</div>
                </a>
            </div>


            <div class="weui-cells__title">订阅公共信息</div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">文化素质教育讲座</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_lecture" />
                    </div>
                </div>
                <div class="weui-cell weui-cell_switch">
                    <div class="weui-cell__bd">教务通知</div>
                    <div class="weui-cell__ft">
                        <input class="weui-switch" type="checkbox" v-model="pref.s_academic" />
                    </div>
                </div>
            </div>




            <div v-if="courses.length" class="weui-cells__title">刷屏防护：只接收选中课程的消息</div>
            <div class="weui-cells weui-cells_checkbox">
                <label class="weui-cell weui-check__label" v-bind:for="course.course_id" v-for="course, index in courses">
                    <div class="weui-cell__hd">
                        <input
                        type="checkbox" class="weui-check"
                            v-model="course.ignored"
                            v-bind:true-value="false"
                            v-bind:false-value="true"
                            v-bind:id="course.course_id"
                            v-on:change="course_ignore_toggled(index)">
                        <i class="weui-icon-checked"></i>
                    </div>
                    <div class="weui-cell__bd">
                        <p>{{course.course_name}}</p>
                    </div>
                </label>
            </div>
            <div>
                <a :href="'/hw/ignored-list/?code=' + urlParam.code + '&state=' + urlParam.state" class="weui-btn weui-btn_default">查看已忽略作业</a>
            </div>
        </div>
        <div v-else class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>
    </div>
    <script>
    function renderMinutes(m){
        if(m < 0){
            return '关闭';
        }
        return '提前 ' + (function(m){
            if(m < 60){
                return m + ' 分钟';
            }else if(m < 24 * 60){
                return Math.floor(m/60) + ' 小时';
            }else{
                return Math.floor(m/24/60) + ' 天';
            }
        })(m);
    }

    function renderPickerOptions(ms){
        var result = [];
        ms.forEach(function(e){
            result.push({
                'label': renderMinutes(e),
                'value': e
            });
        });
        return result;
    }

    function deepcopy(original){
        return JSON.parse(JSON.stringify(original)); // deep copy
    }

    var vm = new Vue({
        el: '#vue-container',
        data: {
            'loading': 2,
            'pref': null,
            'courses': [],
            'urlParam': urlParam,
        },
        computed: {
            'c_s_class_ahead_time': function() {
                return renderMinutes(this.pref.s_class_ahead_time);
            },
            'c_s_ddl_ahead_time': function() {
                return renderMinutes(this.pref.s_ddl_ahead_time);
            }
        },
        methods: {
            'pick_s_ddl_ahead_time': function() {
                var options = [-1, 30, 60, 6*60, 12*60, (24+12)*60, (2*24+12)*60]; // “提前1天” -> 36 小时前 -> 前一天正午
                weui.picker(
                    renderPickerOptions(options), {
                    onChange: function(result) {},
                    onConfirm: function(result) {
                        vm.pref.s_ddl_ahead_time = result[0];
                    },
                    id: 'pick_s_ddl_ahead_time',
                    defaultValue: [deepcopy(vm.pref.s_ddl_ahead_time)]
                });
            },
            'pick_s_class_ahead_time': function() {
                var options = [-1, 5, 15, 30];
                weui.picker(
                    renderPickerOptions(options), {
                    onChange: function(result) {},
                    onConfirm: function(result) {
                        console.log(result)
                        vm.pref.s_class_ahead_time = result[0];
                    },
                    id: 'pick_s_class_ahead_time',
                    defaultValue: [deepcopy(vm.pref.s_class_ahead_time)]
                });
            },
            'course_ignore_toggled': function(index){
                var c = this.courses[index];
                console.log("course #" + c.course_id + ' (' + c.course_name + ') ignore set to ' + c.ignored);
                var payload = {
                    course_id: c.course_id,
                    ignore: c.ignored + 0 // true/false -> 1/0
                }
                postForm('/api/u/courses', payload);
            }
        },
    })

    getJSON('/api/u/pref', {}, function(resp) {
        pref = resp.data;
        vm.pref = pref;
        for (key in pref) {
            (function(_key) {
                vm.$watch('pref.' + _key, function() {
                    console.log(_key + ' set to ' + this.pref[_key]);
                    var payload = {};
                    var new_val = this.pref[_key];
                    if(false == _key.endsWith('_ahead_time')){
                        new_val += 0;  // true/false -> 1/0
                    }
                    payload[_key] = new_val;
                    postForm('/api/u/pref', payload);
                })
            })(key);
        }
        vm.loading -= 1;
    })

    getJSON('/api/u/courses', {}, function(resp) {
        var courses = resp.data;
        vm.courses = courses;
        vm.loading -= 1;
    })
    </script>

    <script src="../../3rd/weui.min.js"></script>
</body>

</html>
