<!DOCTYPE html>
<html lang="zh">

<head>
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-infinite-scroll@2.0.0"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../../js/base.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="moqunzhu">

    <title>课程公告列表</title>
    <!-- Custom styles -->
    <link href="../../css/weui-custom-style.css" rel="stylesheet">

    <!-- WeUI styles -->
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">

    <!-- WeUI Javascript library -->
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>

<body>
    <div id="vue-container">
        <!-- Header -->
        <h1 class="news-title">公告</h1>
        <div class="weui-cells__title"> {{ fortune }} </div>

        <div class="weui-panel__bd">
            <!-- notices -->
            <div v-infinite-scroll="load_more" infinite-scroll-disabled="no_more" class="news-container">
                <div class="weui-panel weui-panel_access">
                    <!-- List Item -->
                    <div v-for="item in items" v-on:click="show_detail" v-bind:id="item.notice_id" class="detail-box weui-media-box weui-media-box_text">
                        <h5 class="weui-media-box__title"><span class="weui-badge ddl-badge" v-if="item.status==0">new</span>{{ item.title }}</h5>
                        <p class="notice-detail weui-media-box__desc">{{ item.detail }}</p>
                        <ul class="weui-media-box__info">
                            <li class="weui-media-box__info__meta">发布时间: {{ item.publish_time.readable() }}</li>
                            <li class="weui-media-box__info__meta weui-media-box__info__meta_extra">{{ item.course_name }} </li>
                        </ul>
                    </div>

                </div>
            </div>


            <!-- Detail Dialog -->
            <transition id="dialog-container" name="fade">
                <div v-if="detail_showing" class="detail-dialog">
                    <div class="weui-mask"></div>
                    <div class="weui-dialog">
                        <div class="weui-dialog__hd">
                            <strong class="weui-dialog__title">{{ detail_item.title }}</strong>
                        </div>
                        <div class="weui-dialog__bd">
                            <div class="weui-dialog__info">{{ detail_item.course_name }}</div>
                            <div class="weui-dialog__info">
                                {{ detail_item.publish_time.readable() }}
                                {{ detail_item.publisher }}
                            </div>
                        </div>

                        <div class="weui-dialog__bd">
                            <span class="dialog-detail-box">{{ detail_item.detail }}</span>
                        </div>
                        <div class="weui-dialog__ft">
                            <a v-on:click="hide_detail" class="weui-dialog__btn weui-dialog__btn_primary">返回</a>
                        </div>
                    </div>
                </div>
            </transition>
        </div>
        <div class="weui-loadmore" >
            <div v-if="no_more">
                <span v-if="items.length" class="weui-loadmore__tips">没有更多了</span>
                <span v-else class="weui-loadmore__tips">没有公告 :)</span>
            </div>
            <div v-else>
                <i v-if="loading_more" class="weui-loading"></i>
                <span v-if="items.length" v-on:click="load_more" class="weui-loadmore__tips">加载更多</span>
                <span v-else class="weui-loadmore__tips">正在加载</span>
            </div>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el: '#vue-container',
            data: {
                'items': [],
                'fortune': "",
                'no_more': false,
                'loading_more': false,
                'detail_showing': false,
                'detail_item': {},
            },

            methods: {
                load_more: function() {
                    var _vm = this;
                    _vm.loading_more = true;
                    param = {
                        'limit': 10,
                        'start': _vm.items.length
                    };
                    getJSON('/api/notice/list/', param, function(data) {
                        data.data.forEach(function(e){
                            _vm.items.push(e);
                        });
                        _vm.loading_more = false;
                        _vm.no_more = data.data.length < param.limit;
                    })
                },
                hide_detail: function() {
                    this.detail_showing = false;
                },
                show_detail: function(ev) {
                    var _vm = this;
                    var notice_id = ev.currentTarget.id;
                    param = {
                        'notice_id': notice_id
                    };

                    // fetch detail and pop up
                    getJSON('/api/notice/detail/', param, function(data) {
                        _vm.detail_showing = true;
                        _vm.detail_item = data.data;

                        // mark-as-read
                        // locally
                        var item = _vm.items.filter(function(item) {
                            return item.notice_id.toString() === notice_id;
                        })[0];
                        item.status = 1
                        // remotely
                        getJSON('/api/notice/mark-as-read/', param);
                    })
                },
            }
        })

        getJSON('/api/u/fortune', {}, function(data) {
            vm.fortune = data.data
        })

    </script>
</body>

</html>
