<!DOCTYPE html>
<html lang="zh">
    <head>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="../../js/base.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="moqunzhu">

        <title>讲座</title>
        <!-- Custom styles -->
        <link href="../../css/weui-custom-style.css" rel="stylesheet">

        <!-- WeUI styles -->
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">

        <!-- WeUI Javascript library -->
        <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>

<body>
    <div id="vue-container">
        <!-- Header -->
        <h1 class="news-title">讲座详情</h1>
        <div  v-if="! item" class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>

        <div v-else id="detail-container">

            <div class="news-container">
                <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">

                    <div class="weui-media-box weui-media-box_text">
                        <h5 class="weui-media-box__title"> {{item.title }} </h5>
                        <div class="weui-media-box__info">{{ item.lecturer }}</div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Description -->
            <div class="news-container">
                <div class="weui-panel weui-panel_access">
                    <div class="weui-panel__bd">
                        <div class="weui-media-box weui-media-box_text">
                            <h5 v-if="item.time" class="weui-media-box__title">时间: {{ item.time }}</h5>
                            <h5 class="weui-media-box__title">地点: {{ item.place }}</h5>
                            <div class="weui-media-box__desc" id="detail-description">
                                    {{ item.detail }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <a :href="'/lecture/list/?code=' + urlParam.code + '&state=' + urlParam.state" class="weui-btn weui-btn_primary" v-on:click="goBack">
                返回讲座新鲜事
            </a>
        </div>
    </div>

    <script>
    var vm = new Vue({
        el: '#vue-container',
        data: {
            'item': {},
            'urlParam': urlParam,
        },
        methods: {
            goBack: function () {
                window.history.go(-1);
                return false;
            }
        }
    });
    $.getJSON('/api/lecture/detail/', urlParam, function(data){
        vm.item = data.data;
    })
    vm.item = {
        'lecture_id': '3',
        'time': '2016-3-3',
        'place': '三教',
        'lecturer': '朋神',
        'title': '期末加油',
        'detail': '这是一个很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长的内容'
    };
    </script>
</body>
