MYSQL_DATABASE=we_learn
MYSQL_ONETIME_PASSWORD=yes
MYSQL_USER=django
MYSQL_PASSWORD=PoEHe8BQev4cpJyScLAPHvDyndtDa7H2z4OjBpIFbag
RABBITMQ_DEFAULT_USER=django
RABBITMQ_DEFAULT_PASS=iOWki6a8Ub5D3eBXla5SDlxv6HLe8XRlG7XD3tqS0DU
