<!DOCTYPE html>
<html lang="zh">
    <head>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="../../js/base.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="moqunzhu">

        <title>个人中心</title>
        <!-- Custom styles -->
        <link href="../../css/weui-custom-style.css" rel="stylesheet">

        <!-- WeUI styles -->
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">

        <!-- WeUI Javascript library -->
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

</head>

<body>
    <div id="vue-container">
        <!-- 正在加载 -->
        <div v-if="loading" class="weui-loadmore">
            <i class="weui-loading"></i>
            <span class="weui-loadmore__tips">正在加载</span>
        </div>

        <!-- Header -->
        <div v-else>
            <!-- 绑定 -->
            <div v-if="binded===false" id="bind-container">
                <h1 class="news-title">绑定</h1>

                <div class="weui-cells__title">请输入学号与info密码</div>
                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">学  号</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" id="inputUsername" placeholder=""/>
                        </div>
                    </div>
                    <div class="weui-cell">
                        <div class="weui-cell__hd"><label class="weui-label">密  码</label></div>
                        <div class="weui-cell__bd">
                            <input class="weui-input" type="password" id="inputPassword" placeholder=""/>
                        </div>
                    </div>
                </div>
                <a v-on:click="bind" class="weui-btn weui-btn_primary" id="confirm-button">确认</a>
            </div>

            <div v-if="bind_popup_showing" class="detail-dialog" id="msg-dialog">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__hd"><strong class="weui-dialog__title">{{ msg_title }}</strong></div>
                    <div class="weui-dialog__bd">{{ msg_content }}</div>
                    <div class="weui-dialog__ft">
                        <a v-on:click="hide_bind_popup" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
                    </div>
                </div>
            </div>

             <!-- 解绑 -->
            <div v-if="binded" id="unbind-container">
                <h1 class="news-title">解绑</h1>
                <div class="weui-cells__title">点击按钮确认解绑帐号{{id}}</div>
                 <a v-on:click="show_unbind_popup"  class="weui-btn weui-btn_warn" id="dettach-button">解绑</a>
            </div>

            <div v-if="unbind_popup_showing" class="detail-dialog" id="dettach-dialog">
                <div class="weui-mask"></div>
                <div class="weui-dialog">
                    <div class="weui-dialog__hd">
                        <strong class="weui-dialog__title">确认解绑吗？</strong>
                    </div>
                     <div class="weui-dialog__ft">
                        <a v-on:click="unbind" class="weui-dialog__btn weui-dialog__btn_default">残忍解绑</a>
                        <a v-on:click="hide_unbind_popup" class="weui-dialog__btn weui-dialog__btn_primary">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        var vm = new Vue({
            el: '#vue-container',
            data: {
                'id': '',
                'loading': true,
                'bind_popup_showing': false,
                'unbind_popup_showing': false,
                'binded': false,
                'msg_title': '',
                'msg_content': '',
            },
            methods: {
                hide_bind_popup: function() {
                    this.bind_popup_showing = false;

                },
                hide_unbind_popup: function() {
                    this.unbind_popup_showing = false;
                },
                show_unbind_popup: function() {
                    this.unbind_popup_showing = true;
                },
                unbind: function() {
                    param = urlParam;
					param.student_id = vm.id;
                    $.post("/api/u/unbind", param, function(data,status){
						vm.binded = false;
					});
                    this.unbind_popup_showing = false;
                },
                bind: function() {
                    param = urlParam;
    	            param['student_id'] = $('#inputUsername').val();
    	            param['password'] = $('#inputPassword').val();
                    $.post("/api/u/bind", param, function(data,status){
    	                if (data.code == 0) {
                            vm.msg_title = '绑定成功';
                            vm.msg_content = '';
                            vm.binded = true;
    	                }
    	                else {
                            vm.msg_title = '出错啦';
                            vm.msg_content = data.msg;
    	                }
    	            });
                    this.bind_popup_showing = true;
                },
            }
        });
        $.getJSON('/api/u/bind', urlParam, function(data){
            vm.id = data.data;
            vm.loading = false;
            vm.binded = (data.data  == 0);
        });
    </script>
</body>
