.weui-grid {
	width: 14.28%;
	padding: 5px 1px;
}

.scroll-list {
	overflow: scroll;
}

.days-bar {
	white-space: nowrap;
	background-color: #dedee2;
	text-align: center;
	font-size: 10px;
	color: #999999;
	width: 14.28%;
	position: relative;
    float: left;
}

.news-title {
	display: inline-block;
}

#views-switcher {
	display: inline-block;
	position:absolute;
	right: 10px;
	top: 50px;
}

.switcher {
	padding: 1px 8px;
	font-size: 14px;
	text-align: center;
	vertical-align: center;
}

#month-switch {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-color: #3cc51f;
	color: #fff;
	margin-right: 1px;
}

#week-switch {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: #fff;
	color: #3cc51f;
	margin-right: 1px;
}

.month-content {
	margin-top: 10px;
}

.weui-grid {
	height: 80px;
}

.weui-grid__label {
	text-align: left;
	margin: 0px 0;
	font-size: 6px;
}

.course_badge {
	font-size: 8px; 
	background: #3cc51f;
	padding: .5em;
	margin: 0 0 2px 2px;
}

.hw_badge {
	font-size: 8px; 
	background: #E64340;
	padding: .5em;
	margin: 0 0 2px 2px;
}

.event_badge {
	font-size: 8px; 
	background: #ffbe00;
	padding: .5em;
	margin: 0 0 2px 2px;
}

.date_label {
	color: #999999;
	font-size: 20px;
	height: 32px;
	margin-bottom: 2px;
	margin-left: 2px;
}

.today_label {
	color: white;
	background-color: #3cc51f;
	border-radius: 25px;
	display: inline-block;
	padding: 0.00em .25em;
	font-size: 16px;
	min-width: 16px;
	vertical-align: center;
	text-align: center;
}

.scheduler-dialog {
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

.dialog-title {
	text-align: left;
	margin: 10px 2px 10px 10px;
	font-weight:400;
    font-size:30px;
    color:#3cc51f;
}

.dialog-detail-box {
	position: relative;
}

.time-mark {
	width: 50px;
	color: #999999;
	text-align: right;
}

.time-row {
	height: 59.7px;
	vertical-align: top;
	border-top: .3px solid #dddddd;
}

.time-content {
	width: 1000px;
}

.block {
	position: absolute;
	width: 120px;
	display: block;
    overflow: hidden;
    padding: 10px;
    display: -webkit-box;
    overflow: scroll;
    -webkit-box-orient: vertical;
}

.course-block {
	color: #3cc51f;
	left: 60px;
	background-color: rgba(60,197,31,.2); 
	border-left: 5px solid #3cc51f;

}

.hw-block {
	position: static;
	margin-left: 8.5px;
	margin-bottom: 2px;
	background-color: rgba(230,67,64,.2);
	color:  #e64340;
	border-left: 5px solid #e64340;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
}

.event-block {
	position: static;
	margin-left: 8.5px;
	margin-bottom: 2px;
	background-color: rgba(255,190,0,.2);
	color:  #ffbe00;
	border-left: 5px solid #ffbe00;
	-webkit-line-clamp: 2;
	text-overflow: ellipsis;
}

.block-title {
	font-size: 13px;
	font-weight: 400;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
}

.block-subtitle {
	font-size: 11px;
}

.block-info {
	font-size: 11px;
	font-style: italic;
}

table {
    border-collapse: collapse;
    background-color: #efeff4;
    margin: 2px 0px;
}

.current-time-line {
	background-color: #e64340;
	height: .5px;
	width: 100%;
	position: absolute;
}

.current-time-dot {
	background-color: #e64340;
	height: 12px;
	width: 12px;
	border-radius: 12px;
	position: absolute;
	left: 57px;
}

.footer-title {
	margin: 10px 5px;
	font-weight:400;
    font-size:15px;
    color:#3cc51f;
}
