body {
    background-color: #efeff4;
    -webkit-tap-highlight-color: transparent;
    margin: 0 10px;
}

.news-title{
    margin:30px 0 0 10px;
    font-weight:400;
    font-size:34px;
    color:#3cc51f;
    #text-align:center;
}

.news-subtitle{
    display: flex;
    -webkit-box-align: center;
    margin: 10px 0;
}

.update-container {
    margin-left: auto;
    margin-right: 2px;
    padding: 0;
}

#update-button {
    transform: scale(.6);
}

.ddl-badge {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.green-badge {
    background-color: #3cc51f !important;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

.detail-title {
    margin:30px 0 0 10px;
    text-align: left;
    font-size: 30px;
    font-weight: 400;
}

#detail-description {
    display: block;
}

.weui-btn {
    margin: 10px 0;
}

.notice-detail {
    -webkit-line-clamp:1 !important;
}

.dialog-detail-box {
    display: -webkit-box;
    -webkit-line-clamp: 10 !important;
    -webkit-box-orient: vertical;
    overflow: scroll;
    text-overflow: clip !important;
}

